@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@700&display=swap'); /* Import MCU-style font */

.App {
  text-align: center;
  margin-top: 50px;
  background-color: #202020; /* Dark background color */
  color: #f8f8f8; /* Light text color */
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.quote-box {
  background-color: #151515; /* Even darker box background */
  padding: 30px;
  border-radius: 10px;
  color: #e6e6e6; /* Light grey text */
  max-width: 700px;
  margin: 0 auto;
  box-shadow: 0px 0px 20px rgba(255, 0, 0, 0.5); /* Red shadow, reminiscent of MCU visuals */
  font-family: 'Roboto Condensed', sans-serif; /* MCU-style font */
}

.quote-box p {
  font-size: 1.7em;
}

.quote-box button {
  background-color: #d62828; /* Stark red button color */
  color: #f8f8f8;
  border: none;
  padding: 12px 25px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1em;
  margin-top: 25px;
  transition: background-color 0.3s ease;
}

.quote-box button:hover {
  background-color: #bb2124; /* Darker red on hover */
}
